<a href="https://colab.research.google.com/github/kdavisong/Python-Prep/blob/main/PI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date
from datetime import datetime
import ast
from ast import literal_eval

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
!git config --global user.name "kdavisong"
!git config --global user.email "kdavisongalvis@gmail.com"
!git config --global user.password "kkk333546"

In [7]:
token = "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"
username = "kdavisong"
repo = ""

In [8]:
!git add --all

fatal: not a git repository (or any of the parent directories): .git

In [ ]:
#1
df =pd.read_csv("/content/drive/MyDrive/Colab_Notebooks/movies_dataset.csv")

<ipython-input-146-89b5f9959349>:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df =pd.read_csv("/content/drive/MyDrive/Colab_Notebooks/movies_dataset.csv")

In [ ]:
#2_Generamos una copia para desanidar
df2 = pd.DataFrame()
df2 = df

In [ ]:
###3_Rellenamos los valores vacios
import ast
df2["belongs_to_collection"] = df2["belongs_to_collection"].fillna("{'id': 'NaN','name': 'NaN','poster_path': 'NaN','backdrop_path': 'NaN'}")
df2["genres"] = df2["genres"].fillna("[]")
df2["production_companies"] = df2["production_companies"].fillna("[]")
df2["production_countries"] = df2["production_countries"].fillna("[]")
df2["spoken_languages"] = df2["spoken_languages"].fillna("[]")
df2["revenue"] = df2["revenue"].fillna(0)
df2["budget"] = df2["budget"].fillna(0)

In [ ]:
###4Se realizan conversiones en los casos donde se lee los datos de la columna como str
df2["belongs_to_collection"] = df2["belongs_to_collection"].apply(literal_eval)

In [ ]:
mask = df2['belongs_to_collection'].apply(lambda x: isinstance(x, float) and not np.isnan(x))
df2 = df2[~mask]

In [ ]:
mask = df2["belongs_to_collection"].apply(lambda x: isinstance(x, float))
floatvalues = df2[mask]
df2 = df2.drop(floatvalues.index)

In [ ]:
###4Se realizan conversiones en los casos donde se lee los datos de la columna como str
df2["genres"] = df2["genres"].apply(lambda x: literal_eval(x))
df2["production_companies"] = df2["production_companies"].apply(lambda x: literal_eval(x))
df2["production_countries"] = df2["production_countries"].apply(lambda x: literal_eval(x))
df2["spoken_languages"] = df2["spoken_languages"].apply(lambda x: literal_eval(x))

<ipython-input-152-54eef9a86a74>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["genres"] = df2["genres"].apply(lambda x: literal_eval(x))
<ipython-input-152-54eef9a86a74>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["production_companies"] = df2["production_companies"].apply(lambda x: literal_eval(x))
<ipython-input-152-54eef9a86a74>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["production_countries"] = df2["production_countries"].apply(lambda x: literal_eval(x))
<ipython-input-152-54eef9a86a74>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["spoken_languages"] = df2["spoken_languages"].apply(lambda x: literal_eval(x))

In [ ]:
#5__se convierte de str a lista la columna production companies, production countries y genres
for i , val in enumerate(df2["production_companies"]):
  if not val:
    pass
  if isinstance(val,list) or isinstance(val,float):
    continue
  df2["production_companies"][i] = literal_eval(df["production_companies"][i])

for i , val in enumerate(df2["production_countries"]):
  if not val:
    pass
  if isinstance(val,list) or isinstance(val,float):
    continue
  df2["production_countries"][i] = literal_eval(df["production_countries"][i])

for i , val in enumerate(df2["genres"]):
  if not val:
    pass
  if isinstance(val,list) or isinstance(val,float):
    continue
  df2["genres"][i] = literal_eval(df["genres"][i])

for i , val in enumerate(df2["spoken_languages"]):
  if not val:
    pass
  if isinstance(val,list) or isinstance(val,float):
    continue
  df2["spoken_languages"][i] = literal_eval(df["spoken_languages"][i])

<ipython-input-105-fddf3ae622a3>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["production_companies"][i] = literal_eval(df["production_companies"][i])
<ipython-input-105-fddf3ae622a3>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["production_countries"][i] = literal_eval(df["production_countries"][i])
<ipython-input-105-fddf3ae622a3>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["genres"][i] = literal_eval(df["genres"][i])
<ipython-input-105-fddf3ae622a3>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["spoken_languages"][i] = literal_eval(df["spoken_languages"][i])

In [ ]:
df2.drop(["video", "imdb_id", "adult", "homepage", "original_title", "poster_path"], axis = 1)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,"{'id': 'NaN', 'name': 'NaN', 'poster_path': 'N...",65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,"{'id': 'NaN', 'name': 'NaN', 'poster_path': 'N...",16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,"{'id': 'NaN', 'name': 'NaN', 'poster_path': 'N...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,fa,Rising and falling between a man and woman.,0.072051,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,4.0,1.0
45462,"{'id': 'NaN', 'name': 'NaN', 'poster_path': 'N...",0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3.0
45463,"{'id': 'NaN', 'name': 'NaN', 'poster_path': 'N...",0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0
45464,"{'id': 'NaN', 'name': 'NaN', 'poster_path': 'N...",0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0
45465,"{'id': 'NaN', 'name': 'NaN', 'poster_path': 'N...",0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0

In [ ]:
#Se crea nuevos dataframes para ingresarle la información desanidada
coleccion = pd.DataFrame()
coleccion = pd.DataFrame(columns =["id","name","poster_path","backdrop_path"])
Production_Countries = pd.DataFrame(columns = ["iso_3166_1","name"])
Production_Countries["id_movie"] = df2["id"]
Genres = pd.DataFrame(columns = ["id","name"])
Genres["id_movie"] = df2["id"]
#Creamos Nuestra tabla relacionada Production Companies
Productoras = pd.DataFrame(columns =["id","name"])
Productoras["id_movie"] = df2["id"]
Idiomas = pd.DataFrame(columns = ["iso_3166_1","name"])
Idiomas["id_movie"] = df2["id"]
##d3 = d3.append((pd.DataFrame.from_dict(df2['belongs_to_collection'][1], orient = "index").T))

In [ ]:
#Se copia columna original para desanidar
Productoras["production_companies"] = df2["production_companies"]
Production_Countries["production_countries"] = df2["production_countries"]
Genres["genres"] = df2["genres"]
Idiomas["spoken_languages"] = df2["spoken_languages"]

In [ ]:
#generamos nuevo df para desanidar columna production companies
Productoras["Numero_productoras"] = Productoras["production_companies"].apply(lambda x: len(x) if not isinstance(x, bool) else None)
Production_Countries["number_of_countries"] = Production_Countries["production_countries"].apply(lambda x: len(x) if not isinstance(x, float) else None)
Genres["number_of_genres"] = Genres["genres"].apply(lambda x: len(x))
Idiomas["number_of_languages"] = Idiomas["spoken_languages"].apply(lambda x: len(x))

In [ ]:
mask = Genres["genres"].apply(lambda x: isinstance(x, str))
floatvalues = df2[mask]
floatvalues

In [ ]:
Genres["genres"][4]

[{'id': 35, 'name': 'Comedy'}]

In [ ]:
##DESEMPACANDO Y GENERANDO LISTAS INDEPENDIENTES DEJANDO EL ID DE PELICULA COMO CAMPO RELACIONAL
df_desempacado = pd.DataFrame()
df_desempacado

filas_desempacadas = []
for i, row in Genres.iterrows():
    id_value = row['id_movie']
    product = row['genres']
    for diccionario in product:
      fila = {'id_movie': id_value}
      fila.update(diccionario)
      filas_desempacadas.append(fila)
df_desempacado = pd.DataFrame(filas_desempacadas)
Genres = df_desempacado

df_desempacado = pd.DataFrame()
df_desempacado

filas_desempacadas = []
for i, row in Idiomas.iterrows():
    id_value = row['id_movie']
    idioma = row['spoken_languages']
    for diccionario in idioma:
      fila = {'id_movie': id_value}
      fila.update(diccionario)
      filas_desempacadas.append(fila)
df_desempacado = pd.DataFrame(filas_desempacadas)
Idiomas = df_desempacado

df_desempacado = pd.DataFrame()
df_desempacado

filas_desempacadas = []
for i, row in Production_Countries.iterrows():
    id_value = row['id_movie']
    country = row['production_countries']
    for dic in country:
      fila = {'id_movie': id_value}
      fila.update(dic)
      filas_desempacadas.append(fila)
df_desempacado = pd.DataFrame(filas_desempacadas)
Production_Countries = df_desempacado

df_desempacado = pd.DataFrame()
df_desempacado

filas_desempacadas = []
for i, row in Productoras.iterrows():
    id_value = row['id_movie']
    product = row['production_companies']
    for diccionario in product:
      fila = {'id_movie': id_value}
      fila.update(diccionario)
      filas_desempacadas.append(fila)
df_desempacado = pd.DataFrame(filas_desempacadas)
Productoras = df_desempacado

In [ ]:
mascara = Production_Countries["production_countries"].apply(lambda x: isinstance(x, float))
floatvalues = Production_Countries[mascara]
floatvalues

In [1]:
! git status

fatal: not a git repository (or any of the parent directories): .git